@font-face {
    font-family: 'Trap';
    src: url('../../fonts/Trap-Light.woff2') format('woff2'),
         url('../../fonts/Trap-Light.woff') format('woff');
    font-weight: 300; // Light
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trap';
    src: url('../../fonts/Trap-Regular.woff2') format('woff2'),
         url('../../fonts/Trap-Regular.woff') format('woff');
    font-weight: 400; // Regular
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trap';
    src: url('../../fonts/Trap-Medium.woff2') format('woff2'),
         url('../../fonts/Trap-Medium.woff') format('woff');
    font-weight: 500; // Medium
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trap';
    src: url('../../fonts/Trap-SemiBold.woff2') format('woff2'),
         url('../../fonts/Trap-SemiBold.woff') format('woff');
    font-weight: 600; // SemiBold
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trap';
    src: url('../../fonts/Trap-Bold.woff2') format('woff2'),
         url('../../fonts/Trap-Bold.woff') format('woff');
    font-weight: 700; // Bold
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trap';
    src: url('../../fonts/Trap-ExtraBold.woff2') format('woff2'),
         url('../../fonts/Trap-ExtraBold.woff') format('woff');
    font-weight: 800; // ExtraBold
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trap';
    src: url('../../fonts/Trap-Black.woff2') format('woff2'),
         url('../../fonts/Trap-Black.woff') format('woff');
    font-weight: 900; // Black
    font-style: normal;
    font-display: swap;
}