:root {
	--container-width: 1470px;
	--container-padding: 15px;

	--second-family: 'Trap', sans-serif;

	--page-bg: #F9F7F4;
	--text-color: #2260ea;
	--accent: #f25413;
	--active: #1f4dd6;
	--link-color: #1f4dd6;
	--hero-btn: #1F3989;
	--input-focus: #f2541326;
	--radio-hover: #2260ea33;
	--loader: #2261ea85;
	--white: #fff;
	--copyright: #ffffff80;


	--laptop-size: 1470px;
	--mobile-size: 376px;

	// Colors
	--primary: #2260ea;
	--black: #0c0c0c;
	--white: #fff;
	

	// Fonts
	--font-family: 'Montserrat', sans-serif;
}

// .dark {
// 	--page-bg: #fff;
// 	--text-color: #fff;
// }
