:root {
	--container-width: 1254px;
	--container-padding: 15px;

	--font-main: 'Montserrat', sans-serif;
	--font-accent: 'Montserrat', sans-serif;
	--font-titles: var(--font-accent);

	--page-bg: #fff;
	--text-color: #2260ea;
	--accent: #f25413;
	--active: #1f4dd6;
	--link-color: #1f4dd6;
	--hero-btn: #1F3989;


	--laptop-size: 1470px;
	--mobile-size: 376px;

	// Colors
	--primary: #2260ea;
	--black: #0c0c0c;
	--white: #fff;
	

	// Fonts
	--font-family: 'Montserrat', sans-serif;
}

// .dark {
// 	--page-bg: #fff;
// 	--text-color: #fff;
// }
