.nav {
    display: flex;
	flex-direction: row;
	border-left:none;
	
	@media screen and (max-width: 1199px)  {
		flex-direction: row-reverse;
	border-left:1px solid rgba(31, 77, 214, 0.7);
	}
}

.nav__lang {
	width: 70%;
	display: flex;
	justify-content: end;
	padding: 32px 32px 32px 0;
	border-left:1px solid rgba(31, 77, 214, 0.7);
	border-right:1px solid rgba(31, 77, 214, 0.7);

    @media screen and (max-width: 1199px)  {
	padding: 14px 18px 14px 0;
	width: 50%;
	border-right:none;
	}
}

.nav__btn{
	border-radius: 50%;
	padding: 11px;

	font-family: var(--second-family);
font-weight: 600;
font-size: 24px;
line-height: 120%;
letter-spacing: -0.02em;
text-transform: uppercase;
color: var(--text-color);

@media screen and (max-width: 1199px)  {
	padding: 5px;
	font-size: 14px;

	}
	&:hover{
		background-color: var(--accent);
		color: var(--page-bg);
		transition: all 0.5s ease-in-out;
	}
}

.nav__btn.active{
	background-color: var(--active);
		color: var(--page-bg);
		transition: all 0.5s ease-in-out;
}



.nav__link{
	// width: 276px;
	display: flex;
	align-items: center;
	padding-left: 32px;
	padding-right: 40px;

	font-family: var(--second-family);
font-weight: 600;
font-size: 20px;
line-height: 120%;
letter-spacing: -0.02em;
text-transform: uppercase;
color: var(--text-color);

&:hover{
	color: var(--accent);

	.nav__svg{
		transform: rotate(90deg);
		transition: all 0.5s ease-in-out;
	}

	.nav__svg circle {
		stroke: #FF5733; 
	  }
	  
	.nav__svg path {
		fill: #FF5733; 
	  }
}

@media screen and (max-width: 1199px)  {
	display: none;
}
}

.link__text{
	margin-right: 4px;
}

