.reach{
    margin-top: 120px;

    @media screen and (max-width: 1199px){
    margin-top: 80px;
    }
}

.reach__content{
    width: 100%;
}

.reach__title{
    margin-bottom: 56px;
    font-family: var(--second-family);
font-weight: 600;
font-size: 56px;
line-height: 110%;
letter-spacing: -0.03em;
color: var(--active);

@media screen and (max-width: 1199px){
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 48px;
line-height: 110%;
}
}

.reach{
    position: relative;
}




.form__group{
    display: flex;
    flex-direction: row;
    margin-bottom: 48px;

    @media screen and (max-width: 1199px){
    flex-direction: column;
    }
}

.input__group{
    width: 50%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;

    &:not(:last-child){
        margin-right: 24px;
        margin-bottom: 0;

        @media screen and (max-width: 1199px){
        margin-right: 0;
        margin-bottom: 32px;
        }
    }

    @media screen and (max-width: 1199px){
        width: 100%;
        
    }
}

.form__label{
    font-family: var(--second-family);
font-weight: 400;
font-size: 20px;
line-height: 130%;
letter-spacing: 0.02em;
color: var(--active);

@media screen and (max-width: 1199px){
    font-weight: 400;
font-size: 16px;
line-height: 130%;
}
}

.form__input{
    border-bottom: 1px solid var(--active);
    height: 40px;
    padding: 8px;

    &:hover{
    border-bottom: 2px solid var(--active);
}
    &:focus{
        background-color: var(--input-focus);
    }
    
}

.form__input._error{
    border-bottom: 2px solid var(--accent);
}

.svg{
    display: none;
}

.form__error-msg-email,
.form__error-msg-first,
.form__error-msg-last{
    margin-top: 8px;
    display: none;
    font-family: var(--second-family);
font-weight: 400;
font-size: 12px;
line-height: 130%;
letter-spacing: 0.02em;
color: var(--accent);
}

.textarea__group{
    width: 100%;
    margin-bottom: 48px;
}

.form__textarea{
    width: 100%;
    height: 150px;
    border-bottom: 1px solid var(--active);
    resize: none;
    outline: none;

    &:hover{
        border-bottom: 2px solid var(--active);
    }
    
        &:focus{
            background-color: var(--input-focus);
        }
}

.form__title{
    margin-bottom: 24px;
    font-family: var(--second-family);
font-weight: 600;
font-size: 20px;
line-height: 130%;
letter-spacing: 0.02em;
text-transform: uppercase;
color: var(--active);

@media screen and (max-width:1199px){
font-size: 24px;
}
}

.checkbox__group{
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
}

.checkbox:checked ~ .checkbox__label::after {
    transform:  scale(1);
}

.radio__input:checked ~ .radio__label::after {
    transform:  scale(1);
}

.checkbox__label, .radio__label{
    position: relative;
    display: inline-flex; 
    align-items: center;
    gap: 8px;
    font-family: var(--second-family);
font-weight: 400;
font-size: 18px;
line-height: 130%;
letter-spacing: 0.02em;
color: var(--active);

@media screen and (max-width:1199px){
font-size: 16px;
}
}

.checkbox__item:not(:last-child){
 margin-bottom: 24px;
}

.radio__item:not(:last-child){
    margin-bottom: 12px;
   }



.radio__input, .checkbox{
    display: none;
}

.checkbox__label::before{
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--white);
    border: 1px solid var(--active);

    
}

.checkbox__label::after {
    content: "";
    position: absolute;
    top: 34%;
    left: 3px;
    width: 7px;
    height: 7px;
    background-color: var(--accent);
    transform:  scale(0);
    transition: transform 0.3s ease;
}


.radio__label::before{
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--white);
    border-radius: 50%;
    border: 1px solid var(--active);

    
}

.radio__label:hover::before,
.checkbox__label:hover::before{
        background-color: var(--radio-hover);
    }

    .radio__label::after {
        content: "";
        position: absolute;
        top: 34%;
        left: 3px;
        width: 7px;
        height: 7px;
        background-color: var(--accent);
        border-radius: 50%;
        transform:  scale(0);
        transition: transform 0.3s ease;
    }

   
.form__text{
    margin-bottom: 24px;
    font-family: var(--second-family);
font-weight: 400;
font-size: 18px;
line-height: 130%;
letter-spacing: 0.02em;
color: var(--active);

@media screen and (max-width: 1199px){
font-weight: 500;
font-size: 16px;
}
}

.radio__group{
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
}

.form__btn{
    width: 100%;
    padding: 11px 0;
    background-color: var(--active);
    

    font-family: var(--second-family);
font-weight: 600;
font-size: 20px;
line-height: 130%;
letter-spacing: 0.02em;
text-transform: uppercase;
color: var(--white);

@media screen and (max-width: 1199px){
    font-size: 16px;
}

    &:hover{
        background-color: var(--accent);
        transition: all 0.5s ease-in-out;
    }

    &:disabled{
        background-color: var(--loader);
    }
}